<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <link rel="icon" href="http://cultofthepartyparrot.com/parrots/hd/parrotmustache.gif" type="image/gif">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="./css/quiz.css">
</head>

<body>
    <div class="bg-dark" style="padding: .25rem;">
        <div class="container">

            <header class="navbar">
                <section class="navbar-section">
                    <div class="columns">
                        <div class="column">
                            <a href="#" class="text-secondary">Docs</a>
                        </div>
                        <div class="column">
                            <a href="#" class="text-secondary">Examples</a>
                        </div>
                    </div>
                </section>
                <section class="navbar-center">
                    <a href="index.html" style="padding: .3rem .2rem 0 .2rem">
                        <!-- <img src="./img/logo.png" alt="logo" width="50"> -->
                        <img src="http://cultofthepartyparrot.com/parrots/hd/parrotmustache.gif" alt="logo" width="50">
                    </a>
                </section>
                <section class="navbar-section">
                    <div class="columns">
                        <div class="column">
                            <a href="#" class="text-secondary">Twitter</a>
                        </div>
                        <div class="column">
                            <a href="#" class="text-secondary">GitHub</a>
                        </div>
                    </div>
                </section>
            </header>

        </div>
    </div>


    <main>
        <div class="container grid-lg">

            <div class="columns">
                <div class="column">
                    <!-- start vue -->
                    <div id="vue-checkout" v-cloak>
                        <br>
                        <br>

                        <transition name="step-fade" mode="out-in">
                            <!-- step1 -->
                            <div v-if="currentStep === 1" key="1">
                                <div class="text-center">
                                    <a href="#" @click.prevent="">or sign in</a>
                                </div>
                                <form action="" @submit.prevent="validateBeforeSubmit">
                                    <div class="columns">
                                        <div class="column col-xs-12 col-md-8 col-mx-auto col-6">

                                            <div class="form-group py-2 text-center">
                                                <label class="form-label d-none">Type</label>
                                                <label class="form-radio">
                                                    <input type="radio" name="gender" value="store" checked v-model="user.type">
                                                    <i class="form-icon"></i> Store
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="gender" value="individual" v-model="user.type">
                                                    <i class="form-icon"></i> Individual
                                                </label>
                                            </div>

                                            <div class="form-group" :class="{'has-error': errors.has('firstName') }">
                                                <label for="">First Name</label>
                                                <input class="form-input" type="text" name="firstName" v-model="user.firstName" v-validate="'required|alpha_spaces|min:3'">
                                            </div>
                                            <span v-show="errors.has('firstName')" class="text-warning" style="display:none">{{ errors.first('firstName') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('lastName') }">
                                                <label for="">Last Name</label>
                                                <input class="form-input" type="text" name="lastName" v-model="user.lastName" v-validate="'required|alpha_spaces|min:3'">
                                            </div>
                                            <span v-show="errors.has('lastName')" class="text-warning" style="display:none">{{ errors.first('lastName') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('email') }">
                                                <label for="">Email</label>
                                                <input class="form-input" type="text" name="email" v-model="user.email" v-validate="'required|email'">
                                            </div>
                                            <span v-show="errors.has('email')" class="hide text-warning" style="display:none">{{ errors.first('email') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('partner') }">
                                                <label for="">Partner</label>
                                                <select class="form-select" name="partner" v-validate="'required'" v-model="user.partner">
                                                    <option value="">Choose</option>
                                                    <option :value="c" v-for="c in settings.partners">{{c}}</option>
                                                </select>
                                                <span class="text-error" v-show="errors.has('partner')" style="display: none">
                                                    <br>{{ errors.first('partner') }}</span>
                                            </div>
                                            <br>

                                            <div v-if="user.type == 'store'">

                                                <div class="form-group" :class="{'has-error': errors.has('state') }">
                                                    <label for="">State</label>
                                                    <select class="form-select" name="state" v-validate="'required'" v-model="user.state">
                                                        <!-- <option value="">Choose</option> -->
                                                        <option :value="c" v-for="c in settings.states" :selected="user.state">{{c}}</option>
                                                    </select>
                                                    <span class="text-error" v-show="errors.has('state')" style="display: none">
                                                        <br>{{ errors.first('state') }}</span>
                                                </div>
                                                <br>
                                                <div class="form-group" :class="{'has-error': errors.has('branchName') }">
                                                    <label for="">Branch Name</label>
                                                    <input class="form-input" type="text" name="branchName" v-model="user.branchName" v-validate="'required|alpha_spaces|min:3'">
                                                    <span v-show="errors.has('branchName')" class="text-error" style="display:none">{{ errors.first('branchName') }}</span>
                                                </div>
                                                <br>

                                            </div>
                                            <div v-else>
                                                <div class="form-group" :class="{'has-error': errors.has('brandID') }">
                                                    <label for="">Brand Portal ID</label>
                                                    <input class="form-input" type="text" name="brandID" v-model="user.brandID" v-validate="'required|alpha_num|min:3'">
                                                </div>
                                                <span v-show="errors.has('brandID')" class="text-warning" style="display:none">{{ errors.first('brandID') }}</span>
                                                <br>
                                            </div>

                                            <div class="form-group" :class="{'has-error': errors.has('password') }">
                                                <label class="form-label" for="input-password">Password</label>
                                                <input v-validate="'required|min:8'" v-model.lazy="user.password" name="password" class="form-input" type="password" id="input-password"
                                                    placeholder="Create Password">
                                                <p class="form-input-hint" v-show="errors.has('password')" style="display:none">Passwords must have at least 8 characters.</p>
                                            </div>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('password_confirm') }">
                                                <label class="form-label" for="input-password-confirm">Confirm Password</label>
                                                <input v-validate="{is: user.password }" name="password_confirm" v-model.lazy="user.password_confirm" class="form-input"
                                                    required type="password" id="input-password-confirm" placeholder="Confirm Password">
                                                <span class="form-input-hint" v-show="errors.has('password_confirm')" style="display:none">Passwords must match.</span>
                                            </div>
                                            <br>


                                            <div class="text-center">

                                                <div class="popover popover-top">

                                                    <button type="submit" :disabled="errors.items.length > 0" class="btn btn-primary">Create</button>

                                                    <div class="popover-container bg-warning" style="padding:.25rem" v-show="errors.items.length > 0">
                                                        <ul>
                                                            <li v-for="err in errors.items">{{err.msg}}</li>
                                                        </ul>
                                                        <!-- <code>
                                                            {{errors}}
                                                        </code> -->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>


                            <!-- end step 1 -->


                            <div v-if="currentStep === 2" key="2">
                                <h2>Welcome {{user.firstName}}</h2>
                                <hr>
                                <div class="columns">

                                    <div class="column col-xs-12 col-4" v-for="q in settings.quiz">
                                        <div class="text-center c-hand p-2" :class="user.quiz[q.id -1].status == 'locked' ? 'lock' : ''" style="border: 1px solid orange"
                                            :style="user.quiz[q.id -1].next ? 'border-width: 4px' : ''">
                                            <h3 class="text-warning">{{q.id}}</h3>
                                            <h3>{{q.title}}</h3>

                                            <!-- <a href="">{{q.link}}</a> -->
                                            <a v-if="user.quiz[q.id -1].status == 'done'">
                                                <u>View</u>
                                            </a>
                                            <a v-else>
                                                <u>To Do</u>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- step 3 -->

                            <div v-if="currentStep === 3" key="3">
                                <h2>Quiz title <u>{{user.quiz[0].done ? 'done': 'not done'}}</u></h2>
                                <br>
                                <!-- start questions -->

                                <form @submit.prevent="">

                                <div class="form-group" v-for="(q,qIndex) in settings.quiz[0].questions" :class="settings.quiz[0].questions[qIndex].error ? 'has-error has-error-border': ''">
                                    <label class="form-label">
                                        <h4>{{qIndex + 1}}. {{q.title}}</h4>
                                        <p>i: {{qIndex}} - a: {{ user.quiz[0].answers[qIndex] }}</p>
                                    </label>
                                    <div v-for="(o,index) in q.options">
                                        <label class="form-radio" :style="o.correct ? 'border: 1px solid green':''">
                                            <input type="radio" v-validate="'required'" :name="q.title" v-model="user.quiz[0].answers[qIndex]" :value="index" @change="setAnswer(index,qIndex)">
                                            <i class="form-icon"></i> {{o.text}}
                                        </label>
                                        <!-- <hr v-if="o.correct"> -->
                                        <br>
                                    </div>
                                    <span class="help text-error" v-show="errors.has(q.title)">{{ errors.first(q.title) }}</span>
                                    <br>
                                </div>
                                <!-- end questions -->
                                <button v-if="!user.quiz[0].done" class="btn btn-success" :disabled="!allAnswer" @click="quizCheck">Submit</button>

                                <button v-if="user.quiz[0].done" class="btn btn-secondary" @click="quizReset">Re-take the quiz</button>
                                <button v-if="user.quiz[0].done" class="btn btn-warning" @click="">Move on</button>

                                <!-- <p v-if="allAnswer">true</p> -->
                                </form>
                            </div>
                            <!-- end step 3 -->


                         

                        </transition>

                        <transition name="modal">
                            <div class="modal modal-sm" :class="loading? 'active': ''">
                                <a href="#close" class="modal-overlay" aria-label="Close"></a>
                                <div class="modal-container" style="padding: 2rem 1rem;">
                                    <!-- modal structure here -->
                                    <!-- <div class="loading loading-lg"></div> -->
                                    <h3 class="text-center text-uppercase">Processing Payment</h3>
                                    <progress class="progress" max="100"></progress>
                                </div>
                            </div>
                        </transition>

                        <transition name="bounce">
                            <div v-show="json" style="position: absolute; bottom:.2rem;right:.2rem; opacity:0.8; pointer-events: none">
                                <pre class="code" data-lang="JSON"><code>user: {{user}}</code></pre>
                            </div>
                        </transition>

                        <!-- <button class="btn" @click="json = !json">Check JSON</button> -->
                        <figure class="avatar avatar-lg c-hand" @click="json = !json" data-initial="JSON" style="font-size:.7rem;background-color: #5755d9;position: absolute; bottom:.5rem;right:.5rem;">
                            <i class="avatar-presence online" :class="json ? 'online': 'busy'"></i>
                        </figure>
                    </div>
                    <!-- end vue -->
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer class="bg-dark" style="padding:1rem">
        <a href="" class="text-secondary">vuestore.io</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vee-validate@latest"></script>

    <script src="./vue/quiz.vue.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script>
</body>

</html>