<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue - Register</title>
    <link rel="icon" href="http://cultofthepartyparrot.com/parrots/hd/parrotmustache.gif" type="image/gif">

    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="./css/quiz.css">
</head>

<body>
    <div class="wrap" id="vue-portal" v-cloak>

    <div class="bg-dark" style="padding: .25rem;">
        <div class="container">

            <header class="navbar">
                <!-- <section class="navbar-section" v-if="currentStep < 2"> -->
                    <!-- <div class="columns" v-if="currentStep >= 2">
                        <div class="column">
                            <a href="#" class="text-secondary">Docs</a>
                        </div>
                        <div class="column">
                            <a href="#" class="text-secondary">Examples</a>
                        </div>
                    </div> -->
                <!-- </section> -->
                <section :class="currentStep >= 2 ? 'navbar-section' : 'navbar-center'">
                    <a href="index.html" style="padding: .3rem .2rem 0 .2rem">
                        <img src="http://cultofthepartyparrot.com/parrots/hd/parrotmustache.gif" alt="logo" width="40">
                    </a>
                     <div class="columns" v-if="currentStep >= 2">
                        <div class="column">
                            <a href="#" class="btn btn-link text-secondary">dashboard</a>
                        </div>
                        <div class="column">
                            <a href="#" class="btn btn-link text-secondary">resource center</a>
                        </div>
                    </div> 
                </section>
                <section class="navbar-section">
                    <div class="columns">
                        
                        <div v-if="currentStep >= 2" class="column">
                            <!-- basic dropdown button -->
                            <div class="dropdown dropdown-right">
                                <a href="#" class="text-secondary dropdown-toggle" tabindex="0">
                                        <svg aria-hidden="true" data-prefix="fas" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-user-circle fa-w-16 fa-3x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z" class=""></path></svg>
                                    <i class="icon icon-caret"></i>
                                </a>
                                <!-- menu component -->
                                <ul class="menu text-primary">
                                    <li class="menu-item"><a href="/profile.html">Profile</a></li>
                                    <li class="menu-item"><a href="/index.html">Log Out</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </section>
            </header>

        </div>
    </div>


    <main>
        <div class="container grid-lg">

            <div class="columns">
                <div class="column">
                    <!-- start vue -->
                    <div>
                        <br>
                        <br>

                        <transition name="step-fade" mode="out-in">
                            <!-- step1 register/signup -->
                            <div v-if="currentStep === 1" key="step_1">
                                <div class="text-center">
                                    <a href="#" @click.prevent="">or sign in</a>
                                </div>
                                <form action="" @submit.prevent="validateBeforeSubmit">
                                    <div class="columns">
                                        <div class="column col-xs-12 col-md-8 col-mx-auto col-6">

                                            <div class="form-group py-2 text-center">
                                                <label class="form-label d-none">Type</label>
                                                <label class="form-radio">
                                                    <input type="radio" name="gender" value="store" checked v-model="user.type">
                                                    <i class="form-icon"></i> Store
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="gender" value="individual" v-model="user.type">
                                                    <i class="form-icon"></i> Individual
                                                </label>
                                            </div>

                                            <div class="form-group" :class="{'has-error': errors.has('firstName') }">
                                                <label for="">First Name</label>
                                                <input class="form-input" type="text" name="firstName" v-model="user.firstName" v-validate="'required|alpha_spaces|min:3'">
                                            </div>
                                            <span v-show="errors.has('firstName')" class="text-warning" style="display:none">{{ errors.first('firstName') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('lastName') }">
                                                <label for="">Last Name</label>
                                                <input class="form-input" type="text" name="lastName" v-model="user.lastName" v-validate="'required|alpha_spaces|min:3'">
                                            </div>
                                            <span v-show="errors.has('lastName')" class="text-warning" style="display:none">{{ errors.first('lastName') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('email') }">
                                                <label for="">Email</label>
                                                <input class="form-input" type="text" name="email" v-model="user.email" v-validate="'required|email'">
                                            </div>
                                            <span v-show="errors.has('email')" class="hide text-warning" style="display:none">{{ errors.first('email') }}</span>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('partner') }">
                                                <label for="">Partner</label>
                                                <select class="form-select" name="partner" v-validate="'required'" v-model="user.partner">
                                                    <option value="">Choose</option>
                                                    <option :value="c" v-for="c in settings.partners">{{c}}</option>
                                                </select>
                                                <span class="text-error" v-show="errors.has('partner')" style="display: none">
                                                    <br>{{ errors.first('partner') }}</span>
                                            </div>
                                            <br>

                                            <div v-if="user.type == 'store'">

                                                <div class="form-group" :class="{'has-error': errors.has('state') }">
                                                    <label for="">State</label>
                                                    <select class="form-select" name="state" v-validate="'required'" v-model="user.state">
                                                        <!-- <option value="">Choose</option> -->
                                                        <option :value="c" v-for="c in settings.states" :selected="user.state">{{c}}</option>
                                                    </select>
                                                    <span class="text-error" v-show="errors.has('state')" style="display: none">
                                                        <br>{{ errors.first('state') }}</span>
                                                </div>
                                                <br>
                                                <div class="form-group" :class="{'has-error': errors.has('branchName') }">
                                                    <label for="">Branch Name</label>
                                                    <input class="form-input" type="text" name="branchName" v-model="user.branchName" v-validate="'required|alpha_spaces|min:3'">
                                                    <span v-show="errors.has('branchName')" class="text-error" style="display:none">{{ errors.first('branchName') }}</span>
                                                </div>
                                                <br>

                                            </div>
                                            <div v-else>
                                                <div class="form-group" :class="{'has-error': errors.has('brandID') }">
                                                    <label for="">Brand Portal ID</label>
                                                    <input class="form-input" type="text" name="brandID" v-model="user.brandID" v-validate="'required|alpha_num|min:3'">
                                                </div>
                                                <span v-show="errors.has('brandID')" class="text-warning" style="display:none">{{ errors.first('brandID') }}</span>
                                                <br>
                                            </div>

                                            <div class="form-group" :class="{'has-error': errors.has('password') }">
                                                <label class="form-label" for="input-password">Password</label>
                                                <input v-validate="'required|min:8'" v-model.lazy="user.password" name="password" class="form-input" type="password" id="input-password"
                                                    placeholder="Create Password">
                                                <p class="form-input-hint" v-show="errors.has('password')" style="display:none">Passwords must have at least 8 characters.</p>
                                            </div>
                                            <br>

                                            <div class="form-group" :class="{'has-error': errors.has('password_confirm') }">
                                                <label class="form-label" for="input-password-confirm">Confirm Password</label>
                                                <input v-validate="{is: user.password }" name="password_confirm" v-model.lazy="user.password_confirm" class="form-input"
                                                    required type="password" id="input-password-confirm" placeholder="Confirm Password">
                                                <span class="form-input-hint" v-show="errors.has('password_confirm')" style="display:none">Passwords must match.</span>
                                            </div>
                                            <br>


                                            <div class="text-center">

                                                <div class="popover popover-top">

                                                    <button type="submit" :disabled="errors.items.length > 0" class="btn btn-primary">Create</button>

                                                    <div class="popover-container bg-warning" style="padding:.25rem" v-show="errors.items.length > 0">
                                                        <ul>
                                                            <li v-for="err in errors.items">{{err.msg}}</li>
                                                        </ul>
                                                        <!-- <code>
                                                            {{errors}}
                                                        </code> -->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>


                            <!-- end step 1 -->

                           
                        </transition>


                        <transition name="bounce">
                            <div v-show="json" style="z-index:99;position: absolute; bottom:.2rem;right:.2rem; opacity:0.8">
                                <input type="text" :value="debugItem" v-model.lazy="debugItem" />
                                <pre class="code" data-lang="JSON"><code :style="json ? 'height:90vh':''">{{debugItem}}: {{debugItemComp}}</code></pre>
                            </div>
                        </transition>


                        <figure class="avatar avatar-lg c-hand" @click="json = !json" data-initial="debug" style="z-index:99;font-size:.7rem;background-color: #5755d9;position: fixed; bottom:.5rem;right:.5rem;">
                            <i class="avatar-presence online" :class="json ? 'online': 'busy'"></i>
                        </figure>
                    </div>
                    <!-- end #vue -->
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer class="bg-dark" style="padding:1rem">
        <a href="" class="text-secondary">vuestore.io</a>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vee-validate@latest"></script>

    <script src="./js/portal.vue.js"></script>
    <!-- axios -->

    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script> -->
</body>

</html>
